@using TASRequestForm.Core.Data.Entities
@model FormEntry

@{
    ViewBag.Title = "TAS Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid cort-white">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <h2>Denied!</h2>
                    <p>
                        You have denied a Test Administration Services Request from the student
                        <em>@Model.StudentIdentity.FirstName @Model.StudentIdentity.LastName</em> for the course <em>@Model.Course</em>.
                    </p>
                </div>
                <p>
                    <a href="@Url.Action("Index", new { controller = "Home", area = "Admin" })">&laquo; Back to the dashboard</a>
                </p>
            </div>
        </div>
    </div>
</div>